.gradle
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/workspace.xml
.idea/tasks.xml
.idea/assetWizardSettings.xml
.idea/gradle.xml
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/navEditor.xml
.idea/deploymentTargetSelector.xml
.DS_Store
*.iml
.navigation
/build/
/app/build/
.kotlin/
.sessions/
